<div class="table-head-wrap">
    <h3>Transaction pool</h3>
    <h4>(no of txs: {{mempool_size}}, size: {{mempool_size_kB}} kB, updated every {{ mempool_refresh_time }} seconds)</h4>
</div>

<div class="table-wrap">
    <table>
        <thead>
            <tr>
                <th>age [h:m:s]</th>
                <th>transaction hash</th>
                <th>fee/per_kB</th>
                <!--<td>outputs</td>-->
                <th>in/out/pID</th>
                <th>ring size</th>
                <th>tx size [kB]</th>
            </tr>
        </thead>

        <tbody>
            {{#mempooltxs}}
                <tr>
                    <td>{{age}}</td>
                    <td><a href="/tx/{{hash}}">{{hash}}</a></td>
                    <td>{{fee}}/{{payed_for_kB}}</td>
                    <!--<td>{{cash_outputs}}</td>-->
                    <td>{{no_inputs}}/{{no_outputs}}/{{pID}}</td>
                    <td>{{mixin}}</td>
                    <td>{{txsize}}</td>
                </tr>
            {{/mempooltxs}}
        </tbody>
    </table>

    {{^mempool_fits_on_front_page}}
        {{#partial_mempool_shown}}
            <div class="center" style="text-align: center; margin-bottom: 10px">
                <a href="/txpool">Only {{no_of_mempool_tx_of_frontpage}} txs shown. Click here to see all of them</a>
            </div>
        {{/partial_mempool_shown}}
    {{/mempool_fits_on_front_page}}
</div>
